@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body {
	font-family: 'Noto Sans', sans, regular;
	background-color: #624663;
	color: #f5f9f1;
	font-size: 18px;
}
a:link, a:visited {
	color: #cac7fc;
}

/* header stuff */
.header, .altheader { height: 125px; }
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px;
	text-align: center;
	background-color: #422040;
	font-family: 'Noto Sans', monospace;
	font-size: 22px;
	color: white;
}
.header a {
	margin: 5% auto;
	text-align: center;
	font-family: 'Noto Sans', monospace;
	color: white;
	padding: 12px;
}
.header a:hover { background-color: #602E5D; }
.header a:active { background-color: #8A4285; }
.header h1 {
	top: 0;
	width: 25%;
	text-align: center;
	margin: auto;
	font-family: 'Gloria Hallelujah', regular;
	color: #D5CAD6;
}