/* Comic Mono */
/* @import url('https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css'); */
/* Ubuntu Mono */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body {
    background-color: darkslateblue;
    color: white;
    font-family: 'Ubuntu Mono', regular;
}
.fullwidth {
    width: 100%;
    left: 0;
    right: 0;
}
.footer {
    position: fixed;
    bottom: 0px;
    padding: 12px;
    background-color: #55008e;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    color: white;
}
.footer a {
    margin: 0 auto;
    color: white;
    padding: 12px;
}
.footer a:link, nav a:visited {
    background-color: #55008e;
}
.footer a:hover {
    background-color: #6d02b5;
}
.footer a:active {
    background-color: #8500dd;
}
#titleh1 {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #8e0080;
    color: white;
}