@import url('https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body {
    background-color: darkslateblue;
    color: white;
}
.fullwidth {
    width: 100vw;
}
footer {
    bottom: 0px;
    background-color: #55008e;
    font-family: Ubuntu Mono, monospace;
    font-size: 10vw;
    color: white;
}
footer a, footer a:visited {
    color: white;
    padding: 10px;
}
footer a:link, nav a:visited {
    background-color: #55008e;
}
footer a:hover {
    background-color: #6d02b5;
}
footer a:active {
    background-color: #8500dd;
}
#tomcubeswebsite {
    background-color: #8e0080;
    color: white;
}