/* Ubuntu Mono */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
/* Gloria Hallelujah */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
* {
    font-family: 'Noto Sans', sans, regular;
}
body {
    background-color: #F5F9F1;
    color: black;
}
.fullwidth {
    width: 100%;
    left: 0;
    right: 0;
}
.footer {
    position: fixed;
    bottom: 0px;
    padding: 12px;
    text-align: center;
    background-color: #422040;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    color: white;
}
.footer a {
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    padding: 12px;
}
.footer a:link, nav a:visited {
    background-color: #422040;
}
.footer a:hover {
    background-color: #602E5D;
}
.footer a:active {
    background-color: #8A4285;
}
#titleh1 {
    top: 0;
    left: 0;
    right: 0;
    width: 50%;
    border: 2px black;
    border-radius: 100px;
    text-align: center;
    margin: auto;
    font-family: 'Gloria Hallelujah', regular;
    background-color: #D5CAD6;
    color: black;
}
table, table th, table td {
    border: 1px solid #9E9E9E;
}
table th, table td {
    padding: 6px 13px;
}
table {
    border-collapse: collapse;
}
