* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: medium;
	color: white;
}

body {
	background-color: #470928;
}

code {
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	background-color: #260515;
	font-family: monospace;
}

select {
	background-color: #260515;
	border: 2px inset white;
	border-radius: 7px;
}

.flexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexbox > * {
	margin: 3px;
}
