* {
	color: white;
	font-family: "Calibri", sans-serif;
}

body {
	background-color: #363b56;
}

table, td, th {
	border: 1px solid lightgray;
	border-collapse: collapse;
	padding: 4px;
}

.flexcontainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.c {
	font-family: monospace;
}

.tt {
	text-decoration: underline dotted;
}

/* https://stackoverflow.com/a/77796790 */
[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid black;
  background: #111;
  padding: .25em;
}
